<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Testing WebRTC</title>
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <h1>WebRTC Meeting Room</h1>
    <!-- <div class="main-div"> -->
    <!--   <video width="40%" height="50%" id="local-video" autoplay playsinline></video> -->
    <!-- <button type="button" id="join-meeting">Join Meeting</button> -->
    <!-- </div> -->

    <div class="main-div">
      <video id="local-video" autoplay playsinline controls="false"></video>
      <video id="remote-video" autoplay playsinline controls="false"></video>
    </div>
    <button type="button" id="join-meeting">Join Meeting</button>
  </body>
  <script src="js/app.js" defer type="module"></script>
</html>
